<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create</title>
  <link rel="stylesheet" href="./notes.css">
</head>

<body>
  <div class="create-container">
    <%- include("./partials/header.ejs") %>
      <div class="create-bottom">
        <div class="create1">
          <a href="/dashboard">DashBoard</a> /
          <span>Add Note</span>
        </div>

        <h3 class="create2">Add Note</h3>

        <div class="create3">
          <input type="text" name="title" placeholder="Title ...">
          <textarea name="description" placeholder="Take a note ...." cols="30" rows="10"></textarea>
        </div>
        <button class="btn new-note-button">+ Add Note</button>
      </div>
  </div>
</body>

</html>