* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

:root {
  --button-background: #12296c;
  --background: #FFC700;
  --button-padding: 8px 20px;
  --button-radious: 20px;
}

/* =============================== DashBoard ===================== */

.dashboard-container,
.create-container,
.update-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
}

.dashboard-header {
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
}

h2,
h1,
h4,
h3 {
  color: var(--button-background);
}

.dashboard-header :nth-child(2) {
  padding: 8px 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 50%;
  box-shadow: 0px 0px 2px red;
}

.dashboard-bottom,
.create-bottom,
.update-bottom {
  padding: 30px 0;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard1,
.update2 {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: fit-content;
  font-weight: 550;
  border: none;
  cursor: pointer;
  padding: var(--button-padding);
  text-decoration: none;
  border-radius: var(--button-radious);
  box-shadow: 0px 0px 2px black;
}

.btn:hover {
  background-color: var(--button-background);
  color: #fff;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.card-data {
  text-decoration: none;
  padding: 10px 15px;
  width: 23.2%;
  height: 140px;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: 0px 0px 5px red;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgb(45, 129, 19);
}

.card-data p {
  color: #12296cae;
  margin-top: 7px;
}

.new-note-button {
  background-color: var(--button-background);
  color: #fff;
  border: none;
  width: fit-content;
}

.new-note-button:hover {
  background-color: #fff;
  border: 1px solid var(--button-background);
  color: var(--button-background);
}

/* =============================== Create ===================== */
.create3,
.update3 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.create3 :nth-child(1),
.update3 :nth-child(1) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.create3 :nth-child(2),
.update3 :nth-child(2) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.create3 input,
textarea,
.update3 input,
textarea {
  padding: 8px 10px;
  outline: none;
  border: none;
  resize: none;
}

/* =============================== Update ===================== */
.PopOpen {
  background-color: pink;
  color: black;
}


/* =============================== Delete ===================== */

.delete-notes {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  background-color: pink;
  width: 300px;
  border-radius: 7px;
  box-shadow: 0px 0px 3px rgb(255, 3, 3);
  display: none;
}

.delete1,
.delete3 {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  gap: 5px;
}

.delBtn {
  padding: 3px 7px;
  font-size: 13px;
}

.delete1 h3 {
  font-size: 16px;
}

.delete2 p {
  font-size: 13px;
}

.delete2 {
  padding: 12px 16px;
}

.deletebtns {
  justify-content: flex-end;
  gap: 10px;
}

.displayblock {
  display: block;
}

.crossbtn {
  font-size: 16px;
  padding: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ======================= Login Page =====================> */

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  gap: 14px;
  border-radius: 10px;
}

.login-input {
  padding: 3px 5px;
  border-radius: 6px;
  outline: none;
}

 /* Media quereis => */
@media only screen and (max-width:600px) {

  :root {
    --button-padding: 4px 8px;
    --fontSizeButton: 12px;
  }

  .dashboard-header {
    padding: 8px 10px;
  }

  .dashboard-header :nth-child(2) {
    padding: 3px 6px;
  }

  .dashboard-bottom,
  .create-bottom,
  .update-bottom {
    width: 90%;
  }

  h1 {
    font-size: 21px;
  }

  .btn {
    font-size: var(--fontSizeButton);
  }

  .card-container {
    flex-direction: column;
  }

  .card-data {
    width: 93.5%;
    height: 180px;
  }

  .card-data p,
  h4 {
    font-size: var(--fontSizeButton);
  }

}